[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "third_party/devstats-viewer"]
	path = third_party/devstats-viewer
	url = https://github.com/AverageMarcus/devstats-viewer.git
